$nav-bg: #273e8f;
$highlight: #4a90e2;
$lightgrey: #dadada;
$fancyblack: #33363c;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Staatliches');

* {

  // font-weight: 300;
  font-size: 1em;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: #4a90e2;
  color: white;
  text-align: center;
  padding: 1pt;


  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    color: white;
    padding: 0;
    font-weight: 300;
    margin: 5pt;
  }
}

a,
a:visited {
  color: $fancyblack;
}

article {
  padding: 5pt;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 25pt;

  h1 {
    line-height: 0.9em;

    font-family: 'Staatliches', sans-serif;
    font-size: 3.4em;
    margin: 0;
    color: $fancyblack;


    a {
      text-decoration: none;
      color: $fancyblack;

      &:hover {
        color: $fancyblack;
      }
    }

  }

  h2 {
    font-family: 'Open Sans',
      sans-serif;
    font-size: 1.4em;
    margin-bottom: 2pt;
    color: #4a90e2;
  }

  h3 {
    font-family: 'Open Sans',
      sans-serif;
    color: #dadada;
    margin-top: -0.2em;
  }

  p {
    margin-top: 0;
    color: $fancyblack;
  }

  a:hover {
    color: $highlight;
  }

  a.footnote-return {
    color: #3275a9;
    display: inline-flex;
  }

  .comments {
    font-size: 0.8em;
    color: #9e9e9e;

    a,
    u {
      color: #525252;
    }


  }

  .footnotes {
    color: lighten($fancyblack, 20);
    font-size: 0.8em;

    hr {
      border: 1px solid $lightgrey;
    }
  }

  .footnote-ref {
    color: $highlight;
    font-size: 0.8em;
  }
}

.job-nav {
  display: flex;
  justify-content: start;
  height: 42pt;
  background-color: $nav-bg;
  border-bottom: 3px solid #4a90e2;
}

.name {
  padding-left: 15pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1em;
}

.main-container {
  max-width: 500pt;
  margin: auto;
  padding: 5pt;
}

.list-item {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
  padding: 10pt 8pt;

  &:hover>.container>.title {
    // color: #4a90e2 !important;
  }

  &:hover {
    cursor: pointer;
    background: #181818;
  }
}

.container {
  display: flex;
  flex-flow: column;
}

.title {
  flex: auto;
  font-weight: bold;
}

.date {
  padding-left: 15px;
  text-align: right;
  color: #7d7d7d;
  flex: none;
}

.content {
  color: #925454;
}

.contact-button {
  position: fixed;
  bottom: 21pt;
  right: 21pt;
  border: 2pt solid $highlight;
  padding: 12pt 15pt;
  border-radius: 6pt;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background: $highlight;
  }
}

.goback {
  text-align: center;
  margin-bottom: 15pt;
  padding: 5pt;
  font-weight: bold;
  background: #88d2d4;

  a {
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.newsletter {
  opacity: 0.7;
  padding: 10pt;
  background: white;
  color: black;
  text-align: center;
  margin-top: 25pt;
  padding-top: 25pt;
  margin-bottom: 25pt;

  .description {
    color: black;
    margin-bottom: 7pt;
  }

  #mc_embed_signup,
  .mc-field-group {
    #mc-embedded-subscribe-form {
      padding: 0pt;
    }

    .mc-field-group label {
      font-weight: bold;
    }

    .mc-field-group input {
      padding: 4pt;
      border-style: solid;
      border-width: 2pt;
      border-color: $lightgrey;
      border-radius: 5pt;
      width: 100%;
      // min-width: 380pt;
    }

    input.button {
      margin-top: 5pt;
      padding: 4pt 8pt;
      border: 2pt solid $lightgrey;
      background: $lightgrey;
      font-weight: medium;
      color: #333;
      border-radius: 5pt;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        background: darken($lightgrey, 10);
        border-color: darken($lightgrey, 10);
      }
    }
  }
}