<!DOCTYPE html>
<html>

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    {{- partial "header.html" . -}}
    <div id="content" class="main-container">
        {{- block "main" . }}

        {{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>