<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ if .Title }}{{ .Title}} {{ end }} ☕️</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $style := resources.Get "scss/all.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">