<article>
    <h1><a href="{{.Permalink}}">{{ .Title }}</a></h1>
    <h3>{{ dateFormat "Jan 2 2006" .Date }}</h3>
    {{ .Content }}

    <div class="comments">
        Comments or questions? Reach out
        <a href="https://www.twitter.com/jobvo">on Twitter @Jobvo</a> or by email at
        <u>job@remote.com</u>
    </div>
</article>